body {
    background-color: rgb(241, 241, 241);
    overflow-x: hidden;
}

#pageContent {
    padding-top: 69px;

}

@media screen and (max-width: 650px) { 
    .pageContentToggle {
        padding-top: 233px !important;
    
    }

    .pageContentToggleAuthorized {
        padding-top: 265px !important;
    }
}

#footerHome {
    padding-top: 100px;
}